@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body{
    background: black;
    font-family: 'Inter', sans-serif;
}

.logoRickyMorty{
    text-align: center;
}

.logoRickyMorty img {
    width: 53%;
}

.intro p {
    font-family: 'Lacquer', cursive;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 800px;
    text-justify: auto;
}

.intro{
    display: flex;
    justify-content: center;
}
#btnrick {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rick{
    width: 450px;
}

.divbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: rgba(186, 227, 17, 1);
    color: black;
    font-family: 'Lacquer', cursive;
    font-size: 18px;
    width: 150px;
    height: 50px;
    margin: 20px;

    text-align: center;
    text-decoration: none;

    border-radius: 10px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

}

.btn a {
    text-decoration: none;
}

section{
    margin-top: 50px;
}

#everyOption {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 50px 10px;
    padding-top: 30px;
}


#selected-options {
    width: 510px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 17px;
}

#selected-options select {
    color: rgba(119, 119, 119, 1);
    font-size: 20px;
    width: 115px;
    height: 37.33px;
    margin: 0px 10px;
    border-radius: 20px;
}

#textBar {
    padding: 5px 0px;
    font-size: 20px;
    width: 300px;
    border-radius: 20px;
    border: 0px;
    margin-right: 26px;
}

input#textBar{
    padding-left: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.firstDiv {
    color: rgba(57, 57, 57, 1);
    background: rgba(186, 227, 17, 1);

    width: 430px;
    height: 220px;
    margin: 15px;

    border-radius: 25px;
    display: flex;
}

.imgCharacter {
    border-radius: 25px 0px 0px 25px;
}

.divElement {
    margin-left: 10px;
}

.characterName{
    color: rgb(57, 57, 57, 1);

    font-size: 26px;
    font-weight: 600;

    margin: 10px 0px 0px;
}

.characterStatus{
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    font-weight: 400;

    margin: 0px 0px 10px 0px;
}

.characterOrigin{
    font-size: 23px;
    font-weight: 400;

    margin: 0px;

    color: #393939;
}

.characterOrigin::first-line {
    color: #767676;
}

.selectedOptions {
    padding-left: 10px;
}

@media screen and (min-width: 1280px){
    body {
        background: rgba(34, 34, 34, 1);
    }
    #everyOption {
        margin: 30px 10px;
    }

    #selected-options {
        margin-right: 2px;
    }
    #selected-options select {
        font-size: 16px;
    }
    #textBar {
        margin-right: 19px;
        font-size: 16px;
    }

    .firstDiv {  
        width: 380px;
        height: 170px;
    }

    .characterName{    
        font-size: 21px;  
    }

    .characterStatus{
        font-size: 16px;
    }

    .characterOrigin{
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (min-width: 1360px){
    body {
        background-color: black;
    }
    #everyOption {
        margin: 30px 50px;    
    }
    #selected-options {
        margin-left: 5px;
    }
    #selected-options select{
        color: black;
    }
}
