@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body{
    background: rgba(34, 34, 34, 1);
    font-family: 'Inter', sans-serif;
}



.logoRickyMorty{
    text-align: center;
}

.logoRickyMorty img {
    width: 53%;
}

#everyOption {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 30px 50px;
}

#selected-options {
    width: 510px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#selected-options select {
    color: rgba(119, 119, 119, 1);
    font-size: 15px;


    width: 150px;
    height: 37.33px;
    margin: 0px 10px;
    border-radius: 20px;
}

#textBar {
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    width: 300px;
    border-radius: 20px;
    border: 0px;
    margin-right: 10px;
}

input#textBar {
    padding-left: 10px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.firstDiv {
    color: rgba(57, 57, 57, 1);
    background: rgba(186, 227, 17, 1);

    width: 380px;
    height: 170px;
    margin: 15px;

    border-radius: 25px;
    display: flex;
}

.imgCharacter {
    border-radius: 25px 0px 0px 25px;
}

.divElement {
    margin-left: 10px;
}

.characterName{
    color: rgb(57, 57, 57, 1);

    font-size: 21px;
    font-weight: 600;

    margin: 10px 0px 0px;
}

.characterStatus{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;

    margin: 0px 0px 10px 0px;
}

.characterOrigin{
    font-size: 16px;
    font-weight: 500;

    color: #393939;
}

.characterOrigin::first-line {
    color: #767676;
}

.selectedOptions {
    padding-left: 10px;
}
